

/*reference styles*/
/*body {
    background-color: lightgrey;
    font-size: 1.1em;
    line-height: 1.5;
}

div {
    border: 1px solid chocolate;
}*/

/* Clearfix */
.group::after {
    content: "";
    display: table;
    clear: both;
}

/* Box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  }

/* Base styles */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Navigation Section */

.top-navigation {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.top-navigation > .content {
    height: 70px;
}

.logo {
    height: 70px;
}

.top-navigation .links {
    float: right;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top: 25px;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    font-size: 16px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333;
}

/* Introduction Section */

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1,
.introduction h3 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.introduction h1 {
    font-size: 3.125rem;
    margin-top: 17.5rem;
}

.introduction h3 {
    font-size: 1.563rem;
    margin-top: 1.25rem;
}

.big-button {
    display: block;
    width: 9.688rem;
    margin: 0 auto;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #f15a29;
    font-size: 1.125rem;
    color: #fff;
}

.big-button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

/* Three Icon Section */

.cases .content {
    margin-top: 7.875rem;
    text-align: center;
    color: #1d1e21;
    padding-bottom: 5rem;
}

.cases h2 {
    font-size: 2.75rem;
    font-weight: 300;
    margin: 1.625rem 0 3.125rem;
}

.cases .devices {
    width: 33.333%;
    display: inline-block;
    margin-right: -4px;
}

.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0 1.875rem;
}

.devices img {
    width: 127px;
    height: 127px;
}

/* Footer section */

.social .content {
    text-align: center;
    padding-bottom: 9.375rem;
    border-top: 1px solid #eaebec;
}

.social h4 {
    font-weight: 400;
}

.copyright {
    font-weight: 300;
    color: #838994;
}

.social .icons li {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #eaebec;
    border-radius: 50%;
    text-align: center;
    padding: 0.625rem 0;
    margin: 0.25rem 5px;
}

.social .icons li:hover {
    cursor: pointer;
}

.twitter {
    color: #55acee;
}

.facebook {
    color: #4c66a4;
}

.instagram {
    color: #3f729b;
}