

/*reference styles*/
/*
body {
    background-color: lightgrey;
}

div {
    border: 1px solid chocolate;
}
*/

/* Clearfix */

.group::after {
    content: "";
    display: table;
    clear: both;
}

/* Box-sizing */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  }

/* Base styles */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

.content {
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Navigation Section */

.top-navigation {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.top-navigation > .content {
    height: 70px;
}

.logo {
    height: 70px;
    width: 26px;
}

.links {
    float: right;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top: 1.5625em;
}

.links li {
    display: inline-block;
    margin-left: 1.5625em;
    font-size: 16px;
}

.links .active {
    color: #4c5058;
    font-weight: 500;
}

.links li:hover {
    cursor: pointer;
    color: #333;
}

/* Introduction Section */

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.9375em;
    overflow: auto;
}

.introduction h1,
.introduction h3 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.03em;
}

.introduction h1 {
    font-size: 2.778em;
    margin-top: 6.3017em;
    margin-bottom: 0;
}

.introduction h3 {
    font-size: 1.389em;
    margin-top: 0.909em;
    margin-bottom: 1.125em;
}

.big-button {
    display: block;
    width: 8.6115em;
    margin: 0 auto;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1em 1.5em;
    line-height: 1.33;
    background-color: #f15a29;
    font-size: 1.125em;
    color: #fff;
}

.big-button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

/* Three Icon Section */

.cases .content {
    margin-top: 7.875em;
    text-align: center;
    color: #1d1e21;
    padding-bottom: 5em;
}

.cases h2 {
    font-size: 2.33em;
    font-weight: 300;
    margin: 0.69em 0 1.34em;
}

.devices li {
    width: 33.333%;
    display: inline-block;
    margin-right: -4px;
}

.devices h3 {
    font-weight: 400;
    font-size: 1.38em;
    margin: 1.82em 0 1.36em;
}

.devices img {
    width: 127px;
    height: 127px;
}

/* Footer section */

.social .content {
    text-align: center;
    padding-bottom: 9.375em;
    border-top: 1px solid #eaebec;
}

.social h4 {
    font-weight: 400;
}

.copyright {
    font-weight: 300;
    color: #838994;
}

.icons li {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid #eaebec;
    border-radius: 50%;
    text-align: center;
    padding: 0.625em 0;
    margin: 0.25em;
}

.icons li:hover {
    cursor: pointer;
}

.twitter {
    color: #55acee;
}

.facebook {
    color: #4c66a4;
}

.instagram {
    color: #3f729b;
}