/*reference styles*/
body {
    background-color: lightgrey;
}

div {
    border: 1px solid chocolate;
}
/* Box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  }

/* Base styles */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Navigation Section */

.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
    height: 70px;
}

.logo {
    height: 70px;
}

.top-navigation .links {
    float: right;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top: 25px;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333;
}

/* Introduction Section */

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1,
.introduction h3 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.introduction h1 {
    font-size: 3.125rem;
    margin-top: 17.5rem;
}

.introduction h3 {
    font-size: 1.563rem;
    margin-top: 1.25rem;
}